body {
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    /* background: linear-gradient(45deg, #0a0223, #000000); */
}
.navbar {
    background: rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    /* border-radius: 20px; */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.navbar-brand {
    color: #000000;
    font-weight: 500;
}

.nav-link {
    color: #000000 !important;
}

.container .glass {
    background: rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.list-group-item {
    background: rgba(255,255,255,0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.card {
    background: rgba(255,255,255,0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.modal-content {
    background: rgba(255,255,255,0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.form-control {
    background: rgba(255,255,255,0.2) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.form-control:-moz-placeholder {
    color: #ffffff;
}